* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Rubik", sans-serif;
	line-height: 150%;
	/* border: 1.5px black solid; */
}
body{
	overflow: hidden;	
	touch-action: none;
}
.container {
	display: flex;
	background-color: #1f2937;
	width: 100dvw;
	height: 100dvh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: space-around;
	justify-content: space-between;
	gap: 10%;
}
.prompt-container {
	background-color: #1f2937;
	display: flex;
	width: 60vw;
    flex-wrap: wrap;
	justify-content: center;
	gap: 10%;
    ;
}
.button,.button2 {
	margin: 1vw;
	background-color: #B0413E;
	border: none;
	color: white;
    border-radius: 1vw;
padding: 2vw;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: clamp(1rem, 4vw, 2rem);

	cursor: pointer;
}
.centered-container {
	flex-basis: auto;
	flex-grow: 1;
	max-width: 100vw;
    margin: 1vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1f2937;
	aspect-ratio: 1/1;
}
.square-container {
	display: flex;
	width: 100%;
	height: 100%;

	justify-content: center;
	flex-wrap: wrap;
	align-content: flex-start;
	align-items: flex-start;
}
.column {
	display: flex;
	flex-direction: column;
}
.square {
	display: flex;
	aspect-ratio: 1/1;
	flex: 0 0 calc(6.25%);
	outline: 1.5px solid black;
}
